</body>

<footer>
<div class="bottom-container" id="contact">
  <span>
    <a class="footer-link" href="https://www.linkedin.com/in/jamie-gunn-03962723/" target="_blank" aria-label="LinkedIn, opens in a new tab"><i class="fa fa-linkedin fa-2x" aria-hidden="false" title="LinkedIn"></i></a>
  </span>
  <span>
    <a class="footer-link" href="https://github.com/jleecounsellor" target="_blank" aria-label="Github, opens in a new tab"><i class="fa fa-github fa-2x" aria-hidden="false" title="Github"></i></a>
  </span>
  <span>
    <a class="footer-link" href="mailto:jleecounsellor@gmail.com" target="_blank" aria-label="Gmail, opens up email in new tab"><i class="fa fa-envelope-o fa-2x" aria-hidden="false" title="Gmail"></i></a>
  </span>
  <p class="copyright">© 2021 Jamie Counsellor.</p>
</div>
</footer>

</html>
